temp_combine_file
disable_debug_indicator
weibo_commit_*
weibo_commit_status.tmp*
.DS_Store
*.swp
/build/
.vscode
Podfile.lock
Pods/
/WeiboConfigs/WeiboDefine.h
/WeiboConfigs/WeiboDefine.m
/WeiboConfigs/WeiboConfigs.h
WeiboDev.xcworkspace
Weibo.xcworkspace/xcuserdata/
Weibo.xcworkspace/xcshareddata/xcdebugger/Breakpoints_v2.xcbkptlist
Weibo/Weibo.xcodeproj/xcshareddata/
Weibo/Weibo.xcodeproj/xcuserdata/
WeiboDev.xcworkspace
xcconfigs/Developer.xcconfig
*.orig
xcuserdata
dev_source_pods
dev_pods_time_table
dev_pods_time_table_tmp
dev_redirected_pods
dev_changed_pods
switch_pod_actions
switch_pod_status
switch_pod_status_new
dev_new_or_removed_pods
disable_debug_indicator
disable_armv7_indicator
abtest_config.json
/WBUploadService/
/WBoxCore/
/WBoxWeibo/
/WBFlutter/
/WBVideoModules/
/WBXiaoKaLive/
/WBXiaoKaLiveCore/
/WBLiveCore/
LibraryPods/
SHAWDOWLIB_*
/WBNote/
/WBHeadline/
/WBMovie/
/WBAudioPlayer/
/WBHeadline/
/WBExtCard/
/IJKPlayer/
/WBWallet/
/FFmpeg/
/WBMediaDownloader/
/WBoxSDK/
/WeiboBox/
/WboxCore/
/WboxWeibo/
/WBox/
/WBoxGame/
/SubProjects/WBADSDK/
/WBExtCard/
/WBPayment/
/WBRedBeans/
/WBLiveKit/
/WBLiveLibrary/
/WBLivePublisher/
/WBLivePlayer/
/WBMediaThirdPartyLibs/
/SubProjects/WBPopWindowSDK/
/MiaopaiVideoKit/
/WBComposer/
/WBQueue/
/WBCoreMLWrapper/
/WBImageUI/
/WBPhotosFramework/
/WBPhotosFrameworkCore/
/WBGreenLight/
/WeiboNetCoreSDK/
/WBGame/
/WBGrowGame/
/WBClawMachine/
/WBQRCode/
/WBMediaLive/
APM_need_install
/WBAPM/
/FreshNews/
/WBFreshNews/
/WBUserProfile/
/WBFeed/
/WBMediaProducer/
/WBCameraKit/
/WBCameraEffectSDK/
/WBFPlayer/
/WBVideoFoundation/
/WBMediaAnalytics/
/WBMediaToolbox/
/WBMediaServices/
/WBMobileConfig/
/YiLiveMediaClient/
/WBNvsVideoEditor/
/WBShop/
/WBTaobaoLive/
/WBLiveBusiness/
/WBMediaLiveTools/
/MediaFusion/
/ThirdPartyFrameworks/
/BaseLibs/
.*_weibo
.commits
SubProjects/WBUIKit/WBUIKit.xcodeproj/xcuserdata/*
SubProjects/WBVideoFoundation/WBVideoFoundation.xcodeproj/xcuserdata/*
WBUPnP/WBUPnP.xcodeproj/xcuserdata/*
WBLiveKit/WBLiveKit.xcodeproj/xcuserdata/*
WBVideoKit/WBVideoKit.xcodeproj/xcuserdata/*
WBStory/WBStory.xcodeproj/xcuserdata/*
RE_file
RE_array
commit_path_array
env_libs
SubProjects/WBMediaFoundation/WBMediaFoundation.xcodeproj/xcuserdata/*
SubProjects/WBABTestSDK/
SubProjects/WBLogEngine/
SubProjects/WBNetworking/
SubProjects/WBGLRenderer/
SubProjects/WBGLRenderEngine/
Weibo/GreenLight/
Weibo/GreenLightUITests/
WBBiz/WBBiz.xcodeproj/xcuserdata/*
Weibo/GreenLight/GreenLight/Dependencies/OHHTTPStubs/OHHTTPStubs.xcodeproj/xcuserdata/*
BaseLibs/3rdLibs/Cronet/
BaseLibs/3rdLibs/LFSCronet/
ios_ui_tests/
ios_device_tests/
Resources/OtherResources/*
**/Resources-Reference
WeiboTechs/WeiboSupport/ignore/*
WBDynamicFrameworksWrapper/Library/*.a
Weibo/WBDynamicFrameworks/WeiboSupport/exportSymbols
WBDynamicFrameworksWrapper/Library/*.framework
WBPage/YogaKit_use_source_file
/WBTaobaoLive/
use_new_cocoapods_version_file
Weibo/WeiboPersonal.xcodeproj
Scripts/lldbscript/.idea/
Scripts/lldbscript/Utils/__pycache__/
Scripts/lldbscript/*.pyc
Scripts/lldbscript/commands/*.pyc
Scripts/lldbscript/Utils/*.pyc
Scripts/tmp/*
pods_list
/wb_plugin_workspace/*
libWBinary*.*
